
body {
	width:100%;
}

h1 {
	margin:0;
}
section {
	background-size: 100%;
	background-repeat: no-repeat;
	width:100%;
}

div.content {
	padding-top:20px;
	padding-bottom:20px;
}

.hide {
	display:none;
}

/* Foundation fixes */
.row {
	max-width:100%;
	margin:0;
}

/* Nav styling */

div.nav-row {
	position:fixed;
	text-align:right;
}
.nav-toggle {
	font-size: 2em;
	right: 0;
	margin:10px;
	margin-top:5px;
}

.nav-collapse.opened {
	max-height:550px;
}

.nav-collapse.opened a {
	margin-left:10px;
}

a#home {
	float:left;
}

/* min-width: If device width is greater than or equal to... 480 px */
@media only screen and (min-width:30em) {
	.nav-collapse li {
		display: inline;
	}
	div.nav-row {
		background:transparent;
	}

	section#home {
	}
}

/* SMALL */
@media only screen and (max-width:30em) {
	section#home {
	}
}

.nav-collapse li {
	padding:10px;
}

/* Home */

section#home {
	background-image: url('img/bcg_slide-1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width:100%;
}

div#greet {
	min-height:50px;
}

div#home {
	text-align:center;
}




section#projects {
	background-image: url('img/bcg_slide-3.jpg');
}

section#about{
	background-image: url('img/bcg_slide-2.jpg');]
}

section#contact {
	background-image: url('img/bcg_slide-3.jpg');
}


.test {
	background-image: url('img/bcg_slide-2.jpg');
	height:200px;
}















