/* ======================== Fonts and Color Sets ======================== */

/*
salmon: #FF3F40;
deep-gray: #33363C; (for home bg)
almost-black: #22262B; (nav bar, project bg)
*/

@font-face {
	font-family:Aleo-Light;
	src: url(fonts/Aleo-Light.otf);
}
@font-face {
	font-family:Aleo-LightItalic;
	src: url(fonts/Aleo-LightItalic.otf);
}
@font-face {
    font-family: Aleo-Regular;
    src: url(fonts/Aleo-Regular.otf);
}
@font-face {
	font-family:Aleo-Italic;
	src: url(fonts/Aleo-Italic.otf);
}
@font-face {
	font-family:Aleo-Bold;
	src: url(fonts/Aleo-Bold.otf);
}
@font-face {
	font-family:Aleo-BoldItalic;
	src: url(fonts/Aleo-BoldItalic.otf);
}
@font-face {
	font-family: Nexa-Bold;
	src: url(fonts/Nexa-Bold.otf);
}
@font-face {
	font-family: Nexa-Light;
	src: url(fonts/Nexa-Light.otf);
}

/* ======================== General Styling ======================== */

body {
	width:100%;
}
h1 {
	text-transform: uppercase;
	font-family:Nexa-Bold;
	margin:0;
	z-index:5;
	color: #FF3F40;
}
p {
	font-size:14px;
	font-family:Aleo-Light;
}
em {
	letter-spacing:0.5px;
	font-family:Aleo-LightItalic;
}
section {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width:100%;
}
div.content {
	padding-top:20px;
	padding-bottom:20px;
}
.hide { display:none;}

.vert_align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.vert { min-width:50%; }
div.separator { text-align: center;}
div.separator img {
	position: relative;
	z-index:2;
}
hr {
	border-bottom: solid #33363C;
	border-top: solid #FF3F40;
	border-width: 1px 0 2px;
}

/* ======================== Foundation fixes ======================== */
.row {
	max-width:100%;
	margin:0;
}

/* ======================== Nav styling ======================== */

div.nav-row {
	position:fixed;
	text-align:right;
	z-index:100;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:thin ridge rgba(255,255,255,0.15);
}
div.nav-row a.nav-toggle {
	font-size: 2em;
	right: 0;
	margin:10px;
	margin-top:5px;
}
.nav-collapse.opened {
	max-height:550px;
}
.nav-collapse.opened a {
	margin-left:10px;
}
a#home {
	float:left;
}
.nav-collapse li {
	padding:10px;
}
div.nav-row a {
	font-family:Nexa-Light;
	color:white;
	letter-spacing:0.2px;
	font-size:12px;
	text-transform:uppercase;
}
div.nav-row a:hover {
	color: #FF3F40;
}
div.nav-row a.nav-toggle:hover { color:white;}

/* ======================== Home ======================== */

section#home {
	/*background-image: url('img/bcg_slide-1.jpg');*/
	background-color: #33363C;
	background-size: 100%;
	background-repeat: no-repeat;
	width:100%;
}
div#greet {
	min-height:50px;
	z-index:1;
	padding-top:20px;
}
div#home {
	text-align:center;
	color:white;
}
.aliens {
	background-image: url('img/aliens.png');
	background-repeat: repeat-x;
	z-index:1;
	height:100px;
}
#alien1, #galaxy1, #galaxy2 {
	position: absolute;
	z-index:0;
}
#galaxy1 {
	top:0;
	left:0;
}
#galaxy2 {
	top:0;
	right:0;
}
div.separator#home_projects { background-color: #33363C;}

/* ======================== Projects ======================== */

section#projects {
	position:relative;
	padding-top:10px;
	padding-bottom:50px;
	background-color: #22262b;
}
section#projects h1 { padding-top:20px; }
section#projects p {
	color:white;
}
section#projects strong {
	position:relative;
	z-index:5;
	margin-bottom:15px;
	color:white;
	font-family:Nexa-Bold;
}
div#filter_gallery { 
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    /* For backwards compatibility */
    display: -webkit-flex;
    -webkit-flex-direction: row;
}
button.filter {
	position:relative;
	z-index:5;
	background:none; /* TODO: ADD BACKGROUND TO BE GOLD OR BLUE */
	padding:5px;
	margin: 0 auto; /* center buttons in div */
	margin-bottom:20px;
	text-transform: uppercase;
	font-family:Nexa-Light;
}
#coin1, #coin3, #coin4, #coin5, #coin6 {
	position:absolute;
}

/* ------------------------ Gallery Area CSS ------------------------ */
section#gallery {
	max-width:1000px; 
	/* isotope makes it so that child width sum is parent's width. But here's the cap */
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:5;
}
.project { /* individual project box */
	margin:5px;
	padding:0;
}
.project_name, .mob_proj{
	height:100%;
	width:100%;
	text-align:center;
	color: white;
	font-family:Aleo-Light;
}

/* ======================== About ======================== */

div.separator#projects_about{ background-color: #33363C;}
div.separator#projects_about img { margin-top:-5px;}

section#about{
	padding-top:10px;
	background-color:#33363C;
}

/* ======================== Contact ======================== */

section#contact {
	background-color: #22262B;
}



/* ======================== CSS For different devices! ======================== */

/* ------------------------ MEDIUM-LARGE ------------------------ */
/* min-width: If device width is greater than or equal to... 40em */
@media only screen and (min-width:40em) {
	.nav-collapse li { display: inline; }
	div.nav-row { background:transparent; }
	.vert { max-width:60%; } /* vert controls width of text panels for some cases */
	section {
		/*min-height:600px;*/
	}

	/* HOME */
	section#home div.vert_align {
		padding-top:200px;
		padding-bottom:100px;
	}
	.aliens {
		width: 920px;
	}
	#alien1 {display:none;}
	#galaxy1 {
		margin-top:-110px;
		margin-left:-10%;
	}
	#galaxy2 {
		margin-top:5%;
	}

	/* PROJECTS */
	#projects p { width:50%; }
	section#gallery {
		min-height:100px;
	}
	div#filter_gallery { max-width: 50%; }
	.project {
		padding:0;
		height:250px;
		width:250px;
	}
	.project_name { background-color:rgba(255, 63, 64, 0.8); }
	#coin1 {
		margin-top:70px;
		margin-left: -1%;
	}
	#coin3 {
		margin-top:135px;
		margin-left:-5%;
	}
	#coin4 {
		right:0;
		margin-top:400px;
		margin-right:-5%;
	}
	#coin5 {
		right:0;
		margin-top:465px;
		margin-right:-9%;
	}
	#coin6 {
		margin-top:480px;
		margin-left:-10%;
	}
}

/* ------------------------ SMALL ------------------------ */
@media only screen and (max-width:40em) {
	.vert { max-width: 95%; } /* Need that precious real estate! */
	
	/* HOME */
	section#home {
		padding-top:100px;
		padding-bottom:30px;
	}
	#alien1 {
		display: inline;
		margin-top:0 !important; /* prevent override from medium layout. Just an image, should be ok */
		margin-left:0 !important; 
		position:static;
		width:100px;
	}
	.aliens { display:none;}
	#galaxy1 {
		margin-top:-50px;
		margin-left:-15%;
	}
	#galaxy2 {
		display:none;
	}

	/* PROJECT */
	.project {
		height:100px;
		width: 100px;
	}
	#projects p { width:80%; }
	#coin1, #coin3, #coin4, #coin5, #coin6 {
		display:none;
	}

}

/* ------------------------ MEDIUM ------------------------ */
/* Mostly controlling visual elements to adapt to medium screens */

@media only screen and (min-width:40em) and (max-width:60em) {
	.aliens { width:460px; }
	.project {
		width: 200px;
		height:200px;
	}
	#galaxy2 {
		margin-top:200px;
	}
	div#filter_gallery { max-width: 100%; }

}







