
em, strong {
	color:wheat;
}

a {
	color: white;
	font-family:Aleo-Light;
}
a:hover {
	color:#FF3F40;
}

a.icon_link {
	margin-bottom:1.25rem;
}

section#subpage p.tools {
	color:#FF3F40;
}

section#subpage {
	background-color: #22262b;
}
h1 { 
	text-align:center;
	padding-top:60px;
}
section#subpage p {
	margin-top:1.25rem;
	color:white;
}
section#gallery {
	max-width:1000px; 
	/* isotope makes it so that child width sum is parent's width. But here's the cap */
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:5;
}
.subgal { /* individual gallery box */
	margin:5px;
	padding:0;
}
iframe {
	margin-bottom:1.25rem;
}


/* ======================== CSS For different devices! ======================== */

/* ------------------------ MEDIUM-LARGE ------------------------ */
/* min-width: If device width is greater than or equal to... 40em */
@media only screen and (min-width:40em) {
	#subpage p { width:50%; }

	.subgal {
		width: 250px;
		height: 250px;
	}

	iframe {
		width: 560px;
		height:315px;
	}


}

/* ------------------------ SMALL ------------------------ */
@media only screen and (max-width:40em) {
	#subpage p { width: 80%;}

	.subgal {
		width: 100px;
		height: 100px;
	}

	iframe {
		width: 100%;
		height: 315px;
	}

}

/* ------------------------ MEDIUM ------------------------ */
/* Mostly controlling visual elements to adapt to medium screens */

@media only screen and (min-width:40em) and (max-width:60em) {

	.subgal {
		width: 200px;
		height: 200px;
	}


	iframe {
		width: 560px;
		height: 315px;
	}
}







